.editor-pane {
	display: flex;
	flex-direction: column;
	background-color: #1e1e1e;
	color: #ffffff;
	overflow: hidden;
	height: 100%; /* Ensure the editor pane takes full height */
	flex-grow: 1; /* Allow the editor pane to grow */
	min-width: 0; /* Prevent overflow */
}

.navbar {
	display: flex;
	align-items: center;
	background-color: #252526;
	padding: 8px;
	border-bottom: 1px solid #333333;
	position: sticky;
	top: 0;
	z-index: 10;
}

.directory-name {
	flex-grow: 1;
	font-weight: bold;
}

.editor-pane-content {
	height: 100%;
	background-color: #2d2d2d;
	position: relative;
}

.react-flow__node {
	cursor: pointer;
	user-select: none;
}

.react-flow__pane {
	cursor: grab;
}

.react-flow__pane:active {
	cursor: grabbing;
}
