.managerContainer {
	background-color: var(--mui-palette-background-paper);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	min-width: 900px;
	max-height: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.closeBtn {
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

.listsContainer {
	display: flex;
	justify-content: space-between;
	flex: 1;
	overflow-y: auto;
	margin-bottom: 20px;
}

.listSection {
	flex: 1;
	margin: 0 10px;
}

h3 {
	font-size: 18px;
	margin-bottom: 10px;
	color: var(--mui-primary-text);
}

ul {
	list-style-type: none;
	padding: 0;
}

.scrollableList {
	max-height: 300px;
	overflow-y: auto;
	padding-right: 8px;
}

.listItem {
	padding: 8px;
	border: 1px solid var(--mui-palette-background-default);
	border-radius: 4px;
	margin-bottom: 8px;
	background-color: var(--mui-palette-background-pure);
	cursor: pointer;
}

.listItem:hover {
	background-color: var(--mui-palette-background-default);
}

.selected {
	background-color: var(--mui-palette-background-default);
	color: white;
}

.actionButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.deleteBtn {
	background-color: #dc3545;
	border: none;
	color: var(--mui-primary-text);
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

.deleteBtn:disabled {
	background-color: var(--mui-palette-background-default);
	cursor: not-allowed;
}

.importBtn {
	background-color: #28a745;
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}
