.file-editor-container {
	display: flex;
	height: 100vh; /* Full height */
	position: relative;
	flex-grow: 1; /* Allow the file editor to take up remaining space */
}

.file-editor {
	display: flex;
	flex-direction: column;
	background-color: #1e1e1e;
	color: #ffffff;
	border-right: 1px solid #333333;
	overflow: hidden;
	height: 100%; /* Ensure the file editor takes full height */
}

.navbar {
	display: flex;
	align-items: center;
	background-color: #252526;
	padding: 8px;
	border-bottom: 1px solid #333333;
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar.collapsed {
	justify-content: center;
}

.directory-name {
	flex-grow: 1;
	font-weight: bold;
}

.icon-button {
	background: none;
	border: none;
	color: #ffffff;
	cursor: pointer;
	padding: 0 8px;
	display: flex;
	align-items: center;
}

.icon-button:hover {
	color: #007acc;
}
