.file-editor-container {
	display: flex;
	height: 100vh; /* Full height */
	position: relative;
	flex-shrink: 0; /* Prevent shrinking */
	flex-grow: 0; /* Prevent growing */
}

.file-editor {
	display: flex;
	flex-direction: column;
	background-color: #1e1e1e;
	color: #ffffff;
	overflow: hidden;
	height: 100%; /* Ensure the file editor takes full height */
	width: 100%; /* Ensure the file editor takes full width */
}

.file-editor.collapsed {
	width: 40px; /* Adjust width when collapsed */
}

.navbar {
	display: flex;
	align-items: center;
	background-color: #252526;
	padding: 8px;
	border-bottom: 1px solid #333333;
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar.collapsed {
	justify-content: center;
}
.navbar-title {
	font-weight: bold;
}

.take-full-width {
	flex-grow: 1;
}
.navbar-circle-icon {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: 8px;
	display: inline-block;
}

.icon-button {
	background: none;
	border: none;
	color: #ffffff;
	cursor: pointer;
	padding: 0 8px;
	display: flex;
	align-items: center;
}

.icon-button:hover {
	color: #007acc;
}

.resize-handle-container-left {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	cursor: ew-resize;
	z-index: 5; /* Ensure the resize handle is above other elements */
}

.resize-handle {
	height: 100%;
	width: 100%;
	background-color: transparent;
}
.selection-pane-container {
    margin-bottom: 120px;
}
